@model List<BE_W07Pizza.Models.Articoli>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container">
        <div class="row">
            @foreach (var articolo in Model)
            {
                if (articolo.Disponibile == true)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="@Url.Content(articolo.FotoArticolo)" class="card-img-top" style="object-fit: cover; height: 200px;" alt="Immagine articolo">
                            <div class="card-body py-2 text-center">
                                <h5 class="card-title">@articolo.NomeArticolo</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">@articolo.Ingredienti</li>

                                    <li class="list-group-item">
                                        Prezzo: @String.Format("{0:C}", articolo.Prezzo)
                                    </li>
                                    <li class="list-group-item">
                                        Tempo di preparazione: @articolo.TempoPrepMin min
                                    </li>
                                </ul>
                                <!-- Aggiungi qui eventuali altri dettagli -->
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <div class="card-footer text-muted py-1" style="font-size:10pt">
                                        <p class="my-0">
                                            Per aggiungere al carrello, entra o registrati:
                                            <a href="@Url.Action("Login", "Utenti")" class="my-1 p-1">Entra</a>
                                        </p>

                                    </div>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form action="@Url.Action("AggiungiAlCarrello", "DettagliOrdine")" method="post">
                                        @Html.AntiForgeryToken() <!--sennò mi da errore-->
                                        <input type="hidden" name="IDArticolo" value="@articolo.IDArticolo" />
                                        <button type="submit" class="btn btn-light">Aggiungi al carrello</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</main>
