@model IEnumerable<BE_W07Pizza.Models.Articoli>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeArticolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoArticolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoPrepMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponibile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeArticolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FotoArticolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempoPrepMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredienti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponibile)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDArticolo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDArticolo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDArticolo })
        </td>
    </tr>
}

</table>
